*{
    margin: 0;
    padding: 0;
}
/* body{
    max-width: 80vw;
    margin: auto;
    background-color: #e5e5f7;
    
} */

.container{
    display: flex;
    justify-content: space-evenly;
}
.events{
    margin: auto;
}
.logout{
    position: fixed;
    right: 2vw;
}
.logout > button{
    margin: 2vh 2vh 0 0;
    padding: 2vh;
    border-radius: 10%;
}
.logout > button:hover{
   background-color: rgba(69, 78, 247, 0.247);
   color: rgb(127, 53, 246);
}

.complete-calendar{
   
    height: auto;
  width: 60%;
    
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    margin-top: 2vh;

    background-color: #e5e5f7;
opacity: 1;
background-image: radial-gradient(#444df759 0.5px, #e5e5f7 0.5px);
background-size: 10px 10px;
    
}
.calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #107977;
   
    /* margin-top: 10vh ; */
    
    

}
.cal-day{
    display: inline-block;
    width: calc(50vw/7);
    text-align: center;
  
    /* padding: 5vh 0; */
    margin: 0 2px;
    /* background-color: #1200ff; */

}
.cal-day:hover{
    background-color: aquamarine;
}
.week-days{
    display: inline-block;
    width: calc(50vw/7);
    text-align: center;
    margin: 2.5vh 2px;
    color: #ce4d4d;
    font-size: larger;
}
.week{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2.5vh;
    justify-content: center;

}
.cal-header{
   display: flex;
    padding-top: 5vh;
    justify-content: space-evenly;
    color: #6b689b;
}
.next{
    float: right;
    padding: 3vh;
    
}
.next:hover{
    cursor: pointer;
}
.prev{
    float: left;
    padding: 3vh;
    cursor: pointer;
}
.date{
    display: inline;
}
.selected{
    color: red;
}
.today{
    background-color: #1200ff;
    color: #e5e5f7;
    box-shadow: inset 0px 0px 5px 0px black;
   
    /* border: 1vh solid black; */
}
.cal-day > div{
    padding: 5vh 0;

}
.before{
    color: rgba(101, 101, 101, 0.45);
}